@import url('../style-comune.css');

/* HEADER e TITOLO*/

header {
    height: 10dvh;
    background-color: #e0f2ff;
}

#Titolo {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10dvh;
    background-color: #e0f2ff;
}

#Titolo img {
    margin-left: 10dvh;
    margin-bottom: 4dvh;
    width: 50dvh;
    height: 50dvh;
    border-radius: 50%;
    object-fit: cover;
}

.Titolo-text {
    display: flex;
    flex-direction: column; 
}

.Titolo-text h1 {
    font-size: 7dvh;
}

.Titolo-text h2 {
    font-size: 3dvh;
}

/* PARTE 1*/

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 20dvh;
    margin-right: 20dvh;
}

.sezione1 {
    margin-top: 7dvh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    max-width: 70%;
    font-size: 1.8dvh;
    line-height: 1.6;
    text-align: center;
}

section h2 {
    font-size: 3dvh;
}

/* PARTE 2 */

#sezione2 {
    max-width: 70%;
    margin: 5dvh auto;
    padding: 3dvh;
    background-color: #eaf6fc; 
    border: 2px solid #c0e0f0;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    font-size: 1.8dvh;
    line-height: 1.6;
    text-align: center;
    font-family: 'Jost', sans-serif;
}

#sezione2 h2 {
    font-family: 'Jost', 'Segoe UI Emoji', 'Noto Color Emoji', 'Apple Color Emoji', sans-serif;
    font-size: 4dvh;
}

#sezione2 h3 {
    font-size: 2.5dvh;
    margin-top: 2dvh;
    color: #1b3c59;
}

@media screen and (max-width: 1509px) {
  #Titolo {
    flex-direction: column;
    gap: 4dvh;
    padding: 3dvh;
    text-align: center;
  }

  #Titolo img {
    width: 45dvh;
    height: 45dvh;
  }

  .Titolo-text h1 {
    font-size: 6dvh;
  }

  .Titolo-text h2 {
    font-size: 2.5dvh;
  }
}

@media screen and (max-width: 768px) {
  #Titolo {
    flex-direction: column;
    gap: 3dvh;
    padding: 2dvh;
    text-align: center;
  }

  #Titolo img {
    margin: 0;
    width: 40dvh;
    height: 40dvh;
  }

  .Titolo-text h1 {
    font-size: 5dvh;
  }

  .Titolo-text h2 {
    font-size: 2.2dvh;
  }
}

@media screen and (max-width: 480px) {
  #Titolo img {
    width: 30dvh;
    height: 30dvh;
  }

  .Titolo-text h1 {
    font-size: 4.2dvh;
  }

  .Titolo-text h2 {
    font-size: 1.8dvh;
  }
}
