* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

html {
  scroll-behavior: smooth;
}

@import url('style-comune.css');


/* LOADER */

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white; 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: opacity 0.5s ease;
}

.loader {
  width: 80px;
  height: 50px;
  position: relative;
}

.loader-text {
  position: absolute;
  top: 0;
  padding: 0;
  margin: 0;
  color: #C8B6FF;
  animation: text_713 3.5s ease both infinite;
  font-size: .8rem;
  letter-spacing: 1px;
}

.load {
  background-color: #9A79FF;
  border-radius: 50px;
  display: block;
  height: 16px;
  width: 16px;
  bottom: 0;
  position: absolute;
  transform: translateX(64px);
  animation: loading_713 3.5s ease both infinite;
}

.load::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #D1C2FF;
  border-radius: inherit;
  animation: loading2_713 3.5s ease both infinite;
}

@keyframes text_713 {
  0% {
    letter-spacing: 1px;
    transform: translateX(0px);
  }

  40% {
    letter-spacing: 2px;
    transform: translateX(26px);
  }

  80% {
    letter-spacing: 1px;
    transform: translateX(32px);
  }

  90% {
    letter-spacing: 2px;
    transform: translateX(0px);
  }

  100% {
    letter-spacing: 1px;
    transform: translateX(0px);
  }
}

@keyframes loading_713 {
  0% {
    width: 16px;
    transform: translateX(0px);
  }

  40% {
    width: 100%;
    transform: translateX(0px);
  }

  80% {
    width: 16px;
    transform: translateX(64px);
  }

  90% {
    width: 100%;
    transform: translateX(0px);
  }

  100% {
    width: 16px;
    transform: translateX(0px);
  }
}

@keyframes loading2_713 {
  0% {
    transform: translateX(0px);
    width: 16px;
  }

  40% {
    transform: translateX(0%);
    width: 80%;
  }

  80% {
    width: 100%;
    transform: translateX(0px);
  }

  90% {
    width: 80%;
    transform: translateX(15px);
  }

  100% {
    transform: translateX(0px);
    width: 16px;
  }
}
 
 
/*HEADER PARZIALE*/

header video {
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

#video-mobile {
    display: none;
}

#divCentrato {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}

#divCentrato h1 {
    position: relative;
    left: 5dvh;
    font-family: 'Jost', serif;
    top: 30dvh;
    font-size: 10dvh;
    color: white;
    background: linear-gradient(to bottom, white, rgb(179, 179, 179));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 2;
}

#divCentrato-mobile {
    display: none;
}

main {
    position: relative;
    background-color: #e0f2ff;
    display: flex;
    flex-direction: column;
    z-index: 1;
}


/*PAGINA 1*/

#pagina1 {
    height: 40dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 2dvh;
}

#pagina1_testo1 {
    font-size: 4dvh;
}

#pagina1_testo2 {
    font-size: 2dvh;
}


/*PAGINA 2*/

#progetti {
    position: relative;
    background-color: white;
    overflow: visible;
}

#riga1 {
    margin-top: 10dvh;
    margin-bottom: 5dvh;
    display: flex;
    justify-content: center;
    gap: 4dvh;
    flex-wrap: wrap;
}

#riga2 {
    margin-top: 5dvh;
    margin-bottom: 10dvh;
    display: flex;
    justify-content: center;
    gap: 4dvh;
    flex-wrap: wrap;
}

.coppia {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35dvh;
    text-align: center;
    border: 0.25dvh;
    border-color: black;
    border-style: solid;
    border-radius: 0.5dvh;
    gap: 2dvh;
    transition: transform 0.5s ease, box-shadow 0.5s ease, border-color 0.5s ease;
    z-index: 2;
}

.coppia:hover {
    transform: translateY(-0.5dvh);
    box-shadow: 0 3dvh 2dvh rgba(0, 0, 0, 0.15);
    border-color: skyblue;
    z-index: 3;
}

.coppia a {
    text-decoration: none;
    color: black;
}

.coppia h1 {
    font-size: 2dvh;
    margin: 2dvh;
}

.coppia img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    z-index: 2;
}

/*TOOLTIP COPPIA - COMPONENTI GRUPPO*/

#riga1 .tooltip-container {
  position: absolute;
  bottom: 10px;       
  right: 10px;        
  display: inline-block;
  z-index: 2;
}

#riga2 .tooltip-container {
  position: absolute;
  top: 10px;         
  right: 10px;       
  display: inline-block;
  z-index: 2;
}

.icon {
  width: 4.5dvh;
  height: 4.5dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s ease, filter 0.3s ease;
  border: 2px solid white;  
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.8);  
  background-color: rgba(255, 255, 255, 0.3);  
  border-radius: 50%;
}

.icon svg {
  transition: transform 0.5s ease-in-out;
}

.icon:hover svg {
  transform: rotate(360deg) scale(1.2);
}

.tooltip {
  visibility: hidden;
  width: 200px;
  background-color: #333;
  color: white;
  text-align: center;
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  bottom: 125%; 
  left: 50%;
  margin-left: -100px; 
  opacity: 0;
  transition: opacity 0.5s, transform 0.5s;
  transform: translateY(10px);
  z-index: 3 !important;
}

.tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
  z-index: 3 !important;
}

.tooltip-container:hover .tooltip {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  animation: bounce 0.6s ease;
  z-index: 3 !important;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}


/*FOOTER*/

footer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1dvh;
    background-color: lightgrey;
    height: 15dvh;
}

footer p {
    font-size: 2.5dvh;
}


/* Fino a 768px */
@media (max-width: 768px) {
    #video {
        display: none;
    }

    #video-mobile {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        z-index: -1;
    }

    #divCentrato {
        display: none;
    }

    #divCentrato-mobile {
        position: relative;
        display: flex;
        justify-content: center;  
        align-items: center;      
        height: 100%;
        text-align: center;       
    }

    #divCentrato-mobile h1 {
        font-family: 'Jost', serif;
        font-size: 5dvh;
        font-weight: bold;
        color: white;
        text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
        padding: 0 10vw;  
    }

    #pagina1 {
        height: 60dvh;
    }

    #pagina1_testo1 {
        font-size: 3dvh;
    }

    #pagina1_testo2 {
        margin: 1dvh;
        font-size: 2dvh;
    }
}